/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* for three js*/

body {
    margin: 0;
    height: 100vh
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 72px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: cornsilk;
    text-shadow: 2px 2px #eeeeee;
}